*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
    margin: auto;
    grid-gap: 10px;
}
figure,figure img{
    display: inline-block;
    width: 100%;
}
figure{
    position: relative;
    transition: all ease 0.5s;
    transform-style: preserve-3d;
    transform: perspective(600px) rotateY(0deg);
    cursor: pointer;
    box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.6);

}
figure::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    
}
figure:hover::after{
    background: rgb(255, 255, 255, 0.137);
}
figure.open{
    transform: perspective(1200px) rotateY(180deg);
    z-index: 0;
    
}
figure .back{
    display: block;
    backface-visibility: hidden;
}

figure .searchimage{
    position: absolute;
    top: 0;
    transform: perspective(1200px) rotateY(0deg);
    overflow: hidden;
    height: 100%;
    z-index: -1;
}

